<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.filesizejs.com/filesize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center mb-4">AllDebrid Link Generator</h1>
          <form method="post" action="{{ url_for('process') }}">
            <div class="form-group">
              <textarea class="form-control" rows="5" name="text" placeholder="Enter your text"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Process</button>
            </div>
          </form>
          <hr>
          <div class="form-group">
                {% if error %}
                   <div class="alert alert-danger" role="alert">
                     {{ error }}
                   </div>
                {% endif %}

              {% if links %}
                  <table>
                      <tr>
                          <th>Filename</th>
                          <th>Unlocked link</th>
                          <th>Size</th>
                      </tr>
                      {% for link in links %}
                          <tr>
                              <td>{{ link.filename }}</td>
                              <td><a href="{{ link.unlockedlink }}">Link</a></td>
                              <td class="filesize">{{ link.size }}</td>
                          </tr>
                      {% endfor %}
                  </table>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script>
      var fileSizes = document.getElementsByClassName("filesize");
      for (var i = 0; i < fileSizes.length; i++) {
        var humanReadableSize = filesize(fileSizes[i].innerHTML, {
          base: 10
        });
        fileSizes[i].innerHTML = humanReadableSize;
      }
    </script>
  </body>
</html>